.card-blog-list {
  border: 1px solid #fcdb34;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.card-blog-list .top {
  flex: 1;
  position: relative;
}
.card-blog-list .top .title-wrapper {
  background-color: #fcdb34;
  position: absolute;
  right: 0;
  top: 93%;
  width: 100%;
  cursor: pointer;
}
.card-blog-list .title-wrapper h5 {
  padding: 15px 20px;
  text-transform: capitalize;
  color: #000;
}
.card-blog-list .bottom {
  flex: 2;
  display: flex;
}
.card-blog-list .bottom .blog-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-blog-list .bottom .blog-content {
  flex: 3;
  padding-top: 70px;
  padding-bottom: 40px;
}
.card-blog-list .bottom .date-div {
  display: flex;
  align-items: center;
  margin-top: 75px;
}
.date-div h5 {
  color: #fcdb34;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  line-height: 28px;
  font-size: 36px;
  margin-right: 10px;
}
.blog-info p {
  margin: 0;
  font-weight: bold;
}
.card-blog-list .blog-info p:last-child {
  margin-bottom: 15px;
  font-size: 13px;
}
.card-blog-list .blog-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 1px solid #fcdb34;
  border-top: 1px solid #fcdb34;
  padding: 7px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #000;
}
.card-blog-list .blog-btn .text {
  color: #000;
}
.blog-btn i {
  opacity: 0;
  padding-left: 0px;
  transition: all 0.5s ease;
}
.card-blog-list:hover > .blog-btn i {
  opacity: 1;
  padding-left: 10px;
  transition: all 0.5s ease;
}
.card-blog-list:hover > .top img {
  transform: scale(1.2);
  vertical-align: middle;
  transition: all 0.8s ease;
  cursor: pointer;
}
.card-blog-list:hover > .top .title-wrapper {
  background-color: #dddddd;
}
.card-blog-list:hover > .bottom .date-div h5 {
  color: #dddddd;
}

@media only screen and (max-width: 990px) {
  .card-blog-list {
    margin-bottom: 30px;
  }
  .card-blog-list .top .title-wrapper {
    width: 100%;
  }
  .card-blog-list .title-wrapper h5 {
    font-size: 16px;
    padding: 10px 10px;
  }
  .card-blog-list .bottom {
    flex-direction: column;
  }
  .card-blog-list .bottom .date-div {
    margin-top: 0px;
  }
  .card-blog-list .bottom .blog-info {
    flex-direction: row;
    margin-top: 40px;
    padding: 20px;
    align-items: center;
  }
  .card-blog-list .bottom .blog-content {
    padding-top: 0;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 90px;
    font-size: 14px;
    line-height: 26px;
  }
}
