.stats-cmp {
  background: linear-gradient(
      0deg,
      rgba(109, 104, 104, 0.164),
      rgba(110, 104, 104, 0.164)
    ),
    url("../../../src/images/counter-parallax.jpeg");
  background-size: cover;
  background-position: top;

  width: 100%;
  border-top: 4px solid #fcdb34;
  border-bottom: 4px solid #fcdb34;
  display: flex;
  justify-content: center;
  padding: 75px 0;
  flex-wrap: wrap;
}
.stats-cmp .slanted-box {
  width: 30%;
  text-align: center;

  border-right: 1px solid wheat;
}
.stats-cmp .slanted-box:last-child {
  border-right: none;
}
.slanted-box h5 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
}
.slanted-box h3 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}
.slanted-box .divider {
  width: 10%;
  color: #fcdb34;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 2px;
  opacity: 1;
}

@media only screen and (max-width: 990px) {
  .stats-cmp .slanted-box {
    width: 100%;
    border-right: none;
    margin: 35px 0;
  }
  .slanted-box h5 {
    font-size: 16px;
    line-height: normal;
  }
}
